page-room-details {
    .empty-room {
        color: green;
    }
    .non-empty-room {
        color: red;
    }
    .no-data {
        color: orangered;
    }

    .scroll {
        height: 100%
    }

    #mapdetail {
        width: 100%;
        height: 100%;
    }
}
