<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Details <network-status></network-status></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="isRequestCompleted">
    <div text-center>
      <h3>
        {{selectedRoom.name}}
      </h3>

      <h1 *ngIf="roomStateWithRoom">
        <ion-icon name="checkmark-circle" *ngIf="roomStateWithRoom.isEmpty" class="empty-room"></ion-icon>
        <ion-icon name="close-circle" *ngIf="!roomStateWithRoom.isEmpty" class="non-empty-room"></ion-icon>
      </h1>
      <h1 *ngIf="!roomStateWithRoom" class="no-data">
        No data found
      </h1>

      <h5>
        <i>{{selectedRoom.address}}</i>
      </h5>
    </div>
  </div>

  <div #mapdetail id="mapdetail"></div> 
  
  <div *ngIf="!isRequestCompleted">
    <h1>Loading...</h1>
  </div>
</ion-content>