<?xml version="1.0"?>
<connectionStrings>
	<clear/>
	<add name="DefaultConnection" connectionString="Data Source=sql5019.smarterasp.net;Initial Catalog=DB_A2AEEC_EmptyRoomAlert; User ID=DB_A2AEEC_EmptyRoomAlert_admin; Password=actr1234; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>
